[Unit]
Description=Applications target
Requires=app1.service app2@2.service app2@3.service
After=network.target app1.service

[Install]
WantedBy=multi-user.target
